.ContentModal__landscape {
  object-fit: contain;
  border-radius: 10px;
}

.ContentModal__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.tagline {
  padding-bottom: 10px;
  align-self: center;
}

.ContentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.ContentModal::-webkit-scrollbar {
  display: none;
}

.ContentModal__about {
  padding: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
}

.ContentModal__title {
  font-size: 1.4rem;
  text-align: center;
}

.ContentModal__description {
  padding: 15px;
  text-align: justify;
}

.genreModel{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 835px) {
  .ContentModal__landscape {
    display: none;
  }
  .ContentModal__portrait {
    display: flex;
    width: 50%;
  }
  .ContentModal {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 10px 0;
  }
  .ContentModal__about {
    width: 60%;
    padding: 0;
    height: 100%;
  }
  .ContentModal__title {
    font-size: 1.7rem;
  }
  .ContentModal__description {
    font-size: 1rem;
  }
}