.carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
}
.carouselItem__img {
  height: 145px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}
