.app {
  padding-top: 100px;
  min-height: 100vh;
  background-color: #0f0f24;
  color: #fff;
  padding-bottom: 40px;
  position: relative;
}

.scrollup {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  transition: all 800ms;
  z-index: 10000;
}

.scrollup:hover {
  transform: scale(1.05);
}

.pageTitle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #333;
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  .app {
    padding-top: 90px;
  }
}
